.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.object {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  border: 1px solid gray;
}
.object > div {
  display: contents;
}
.object > div > div {
  background: white;
}
.object > div:nth-child(2n) > div {
  background: hsl(0, 0%, 90%);
}
.key {
  padding-right: 10px;
  text-align: left;
}
.literal {
  font-family: monospace;
  text-align: right;
}
