.App {
  text-align: center;
}

.object {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  border: 1px solid gray;
}
.object > div {
  display: contents;
}
.object > div > div {
  background: white;
}
.object > div:nth-child(2n) > div {
  background: hsl(0, 0%, 90%);
}
.key {
  padding-right: 10px;
  text-align: left;
}
.literal {
  font-family: monospace;
  text-align: right;
}
